// Themes
$themes: (
  light: (
    main-color: #eeeeee,
    secondary-color: #000000,
    lcd: -1,
  ),
  dark: (
    main-color: #151515,
    secondary-color: #ffffff,
    lcd: 1,
  ),
  solarized: (
    main-color: #f9ebde,
    secondary-color: #815854,
    lcd: -1,
  ),
  oriel: (
    main-color: #393646,
    secondary-color: #eee5d2,
    lcd: 1,
  ),
  civic: (
    main-color: #698269,
    secondary-color: #eecf9e,
    lcd: -1,
  ),
  equity: (
    main-color: #a75d5d,
    secondary-color: #f2b7a3,
    lcd: -1,
  ),
  standard: (
    main-color: #8f43ee,
    secondary-color: #f0eb8d,
    lcd: -1,
  ),
);

// Global variables
$header-height: 3em;
$mobile-width: 650px;
